* { margin: 0; padding: 0; }
.cf { clear: both; }


.container {
	max-width: 600px;
	margin: 10px auto;
	border: 2px solid #aaa;
	padding: 10px;
}

.block1  .blue-name {
	color: blue;
}

.container .block2 {
	 border-bottom: 2px solid black;
	 margin: 20px 0;
	 padding-bottom: 20px;
}
.container .block2 .block2-left {
	float: left;
	width: 290px;
	text-align: center;
}

.container .block2 .block2-right {
	float: right;
	width: 290px;
}
.container .block2 .block2-p {
	text-align: center;
	padding-top: 20px;
}

.comp-pro {
	border-bottom: 2px solid black;
	padding-bottom: 20px;
}
.comp-pro .comp-pro1 {
	 width: 290px;
	 float: left;
	 text-align: center;
}
.comp-pro .comp-pro2 {
	float: right;
	width: 290px;
	text-align: center;
}


.comp-pro3 {
	padding: 20px 0;
}
.comp-pro3  .compro1 {
	width: 195px;
	float: left;
	text-align: center;
}

.comp-pro3  .compro2 {
	float: 	left;
	width: 195px;
	text-align: center;
}
.comp-pro3  .compro3{
	float: 	left;
	width: 195px;
	text-align: center;
}
